body {
    padding: 0;
    margin: 0;
    font-family: 'Lato', arial, sans-serif;
    overflow-x: hidden;
    max-width: 100vw;
    box-sizing: border-box;
    background-color: white;
}

#root {
    /* --lightgrey: rgb(158, 157, 157); */
    width: 100%;

    & h1 {
        font-size: xx-large;
    }

    & h2 {
        font-size: larger;
    }

    & h3 {
        font-size: large;
    }
}


ul {
    list-style-type: none;
}

img.external-link {
    height: 14px;
    width: 14px;
    margin: 5px 5px 0 0 !important;
}

/* HEADER */

header {
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: end;
    justify-content: center;
    width: 100%;
    height: 250px;
    border-bottom: 0.5px solid rgb(211, 217, 222);
    padding: 20px;

}

header .container {
    width: 80vw;
    height: 100%;
    display: flex;
    align-items: end;
    justify-content: space-between;
}

header .profile-container {
    width: 40%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width:600px) {
        width: 80%;
    }

    & h1,
    h2 {
        text-align: left;
        margin-left: 30px;
        width: 100%;
    }

    & h1 {
        & span {
            color: rgb(236, 151, 236);
            font-weight: bolder;
        }

    }

    & .profile-image {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        object-fit: cover;
        filter: grayscale(100%);

        @media screen and (max-width:600px) {
            display: none;
        }

        &:hover {
            transform: scale(1.1);
            cursor: pointer;
        }
    }
}

header .profile-container h2 {
    color: var(--lightgrey);
    font-weight: 400;
}

header ul.social {
    list-style: none;
    display: flex !important;
    width: 30%;
    justify-content: center;
    padding-left: 0
}



header ul img {
    display: inline-block;
    width: 30px !important;
    height: auto;
    margin-right: 10px;
    border-radius: 50px;
    filter: invert(65%);
}

#contact-container {

    width: 100%;
    margin: 20px auto;
    padding: 0;

    & #main-pic-section {
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        gap: 40px;
        flex-direction: row;
        align-items: start;
        position: relative;
        flex-wrap: wrap;

        @media screen and (max-width:650px) {
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        & #about-me-msg-container {
            padding: 20px;
            min-width: 400px;

            & h2 {
                color: black;
                font-size: 2.25em;
                font-family: 'Courier New', Courier, monospace;
                text-align: center;
            }

            & h3 {
                color: white;
                font-size: 2.5em;
                width: 100%;
                height: 60px;
                font-family: 'Courier New', Courier, monospace;
                background-color: rgba(0, 0, 0, 0.6);
                padding: 10px;
                margin: 0 auto;
            }

            & h2,
            h3 {
                @media screen and (max-width:600px) {
                    font-size: 1.5em;
                }

                @media screen and (min-width:601px) and (max-width:1100px) {
                    font-size: 2em;
                }
            }
        }

        & #pic-container {
            max-width: 900px;

            & img {
                max-width: 100%;
                margin: 0 auto;
                object-fit: cover;
                filter: grayscale(90%) brightness(120%) contrast(140%);
            }
        }

    }
}

/* CONTACT BUTTON FIXED */

#contact-me-button {
    position: fixed;
    bottom: 40px;
    left: 0px;
    height: 60px;
    margin-left: 40px;
    width: fit-content;
    background-color: rgba(240, 241, 241, 0.7);
    border: 1px solid black;
    border-radius: 3px;
    font-size: 10px;

    @media screen and (max-width:600px) {
        width: 140px;
        left: calc(50% - 70px);
        margin: 0 auto;
        font-size: 1.1em;
    }

    @media screen and (min-width:601px) and (max-width:1200px) {
        font-size: 1.10em;
        width: 190px;
        margin: 0 auto;
        left: calc(50% - 95px);
    }

    & a {
        background-color: transparent;
        color: black;
        font-weight: 100;
        font-size: 2em;

        @media screen and (max-width:600px) {
            font-size: 0.85em;
        }

        @media screen and (min-width:601px) and (max-width:1200px) {
            font-size: 1.2em;
        }
    }

}


/* SOCIAL IMGS */

header #contact img {
    display: inline-block;
    width: 15px !important;
    height: auto;
    margin-right: 10px;
    border-radius: 50px;
    margin-top: 10px;
}


img {
    filter: grayscale(100%);

    &:hover {
        filter: grayscale(0%);
    }
}

/* LAYOUT */

.about {

    width: calc(100vw - 20px);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    height: fit-content;
    line-height: 40px;
    filter: brightness(160%);
    padding: 40px;

    & .content {
        width: 80%;
        max-width: 850px;
        font-weight: 300;
        margin: 0 auto;
        font-size: large;
        animation: show 3s linear forwards;

        & span {
            color: rgb(181, 138, 181);
            text-decoration: underline;
        }

        & p::first-letter {
            text-transform: capitalize;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            /* Different font family */
            font-size: 44px;
            /* Optional: Make it larger */
            color: rgb(202, 104, 202);
            ;
            /* Optional: Change color */
        }
    }

    & h3,
    h2 {
        margin-bottom: 0px 0 10px 10px;
    }

    & .about p {
        width: 80%;
        padding: 10px;
    }


}

@keyframes show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

h1 {
    text-align: center;
    padding: 10px;
}

/* SECTIONS */

.main-container {
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100vw;
    height: fit-content;
    border-top: 0.5px solid rgb(229, 226, 226);

}



@keyframes blinking {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


/*ASIDE SECTIONS */

aside {
    background-color: #fff !important;
    width: 100%;
    padding: 20px;
    margin: 0px auto 30px auto;
    border-radius: 5px;
    border: 0.5px solid rgb(211, 217, 222);
}

div.item {
    height: fit-content
}

/* MAIN SECTIONS */

section {
    height: fit-content;
    border: 0.5px solid rgb(211, 217, 222);
    padding: 20px;
    margin: 0px auto 30px auto;
}

.skills {

    width: 60%;
    max-width: 600px;

    & .skillset {


        & h3 {
            width: fit-content;
            color: rgb(107, 142, 169);
            margin: 10px;
            font-size: medium;
        }


        & .progress {
            /* height: 15px; */
            width: 95%;
            margin: 0 auto;
            position: relative;
            margin: 10px 10px;
            background: whitesmoke;
            border-radius: 25px;
            padding: 0;
            z-index: 10;
        }

        & span.progress-bar-value {
            display: block;
            height: 100%;
            border-radius: 20px;
            background-color: rgb(65, 194, 100);
            position: absolute;
            top: 0;
            left: 0;
            overflow: hidden;
            z-index: 10;
        }

        & h3 {
            width: fit-content;
            color: rgb(107, 142, 169);
            font-size: medium;
        }

        & .progress {
            margin: 10px auto;
            background-size: 20px;

        }
    }
}

.pers-info {
    ul {
        padding-left: 0;

        & li {
            margin-bottom: 8px;
        }
    }
}



/* CONTENT */

.main-container {
    display: flex;
    width: 100%;
    height: fit-content;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: rgb(255, 255, 255);

    & section.projects {

        display: grid;
        grid-template-rows: 550px 200px 200px;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 0 auto 10rem auto;
        border: none;


        & #rotate-projects-button {
            height: 40px;
            width: 40px;
            grid-column: 2/3;
            grid-row: 2/3;
            align-self: center;
            justify-self: center;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: transparent;

            &:hover {
                border: none;
            }

            & svg {
                text-align: center;
                height: 40px;
                width: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 15px;
                color: rgb(234, 202, 234);
                border: 2px solid rgb(234, 202, 234);
                border-radius: 50px;


                &.rotated {
                    animation: rotate 0.5s linear forwards;
                }

                &:hover {
                    cursor: pointer;
                }
            }
        }


        & h2 {
            text-align: center;
        }

        & .item {
            margin: 15px;

            & a {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 10px;
                box-shadow: 4px 4px 8px rgb(248, 239, 248);
                border: 0.5px solid rgb(241, 211, 241);
                border-radius: 5px;
            }

            & img {
                width: 250px;
                height: 300px;
                object-fit: contain;
            }
        }

        & .featured {
            grid-column: 1 / 4;
            grid-row: 1/2;
            background-color: rgba(0, 0, 0, 0.8);
            position: relative;
            overflow-y: hidden;
            border: 3px ridge rgb(225, 206, 228);
            border-radius: 5px;

            & h3 {
                position: absolute;
                left: 0;
                top: 0;
                padding: 20px;
                background-color: rgba(0, 0, 0, 0.9);
                right: 0;
                color: rgb(241, 211, 241);
                text-align: center;
                animation: move-down 0.5s linear forwards;
            }

            & img {
                width: 50%;
                height: 500px;
                filter: none;

                &.scaling {
                    animation: scale 2s linear forwards;
                }
            }


            & .featured-desc {
                position: absolute;
                bottom: 0px;
                background-color: rgb(238, 227, 238);
                color: rgb(113, 78, 113);
                width: 100%;
                font-weight: 300;
                text-align: center;
                padding: 15px;
                animation: show 1s linear forwards;
                animation: move-up 0.5s linear forwards;

                & a {
                    display: block;
                    width: 130px !important;
                    font-weight: 400;
                    margin: 10px auto;
                    border: 0.5px solid rgb(113, 78, 113) !important;
                    color: rgb(113, 78, 113);


                    &:hover {
                        border: 1px solid black !important;
                        color: black;
                        box-shadow: none !important;
                    }
                }
            }

            & .featured-info {
                width: 80%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }

            & .title {
                z-index: 10;
            }
        }

        & .middle-item {
            grid-row: 2/3;
        }

        & .last-item {
            grid-row: 3/4;
        }

        & #item-2 {
            grid-column: 3/4;
        }

        & #item-3 {
            grid-column: 2/3;
        }

        & #item-4 {
            grid-column: 1/2;
        }
    }

    & section.experience {
        width: 80%;
        max-width: 700px;

        .item {

            & h3 {
                width: 90%;
                display: flex;
                justify-content: flex-start;
                color: rgb(107, 142, 169);
                font-size: medium;

                & span {
                    font-weight: 200;
                    color: var(--lightgrey);
                    margin-left: 7px;
                }
            }
        }
    }
}

@keyframes move-up {
    0% {
        transform: translateY(200px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes move-down {
    0% {
        transform: translateY(-40px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes rotate {

    0% {
        transform: rotate(90deg);
    }

    25% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(270deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes scale {
    0% {
        transform: scale(0.25);
        filter: grayscale(100%) blur(1px);
    }

    100% {
        transform: scale(1);
        filter: grayscale(0%) blur(0px) brightness(120%);
    }
}

/* ASIDE SECTION */

aside {
    width: 70%;
    max-width: 700px;
}

.education .item {

    & h2,
    h3 {
        margin-top: 10px;
    }

    & .university {
        font-size: 18px !important;
        color: var(--lightgrey)
    }
}


@keyframes blink {
    0% {
        transform: scale(1.2);
        background-color: black;
    }

    100% {
        transform: scale(0.8);
        padding: 0;
        filter: invert(70%)
    }
}

@keyframes growSize {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.05);
    }
}

@keyframes bright {
    0% {
        filter: brightness(50%)
    }

    100% {
        filter: brightness(100%)
    }
}

/* FOOTER */

footer {
    bottom: 200px;
    width: 100%;
    min-height: 200px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    & small {
        display: block;

    }

    & small a {
        text-decoration: none;
        color: white;
    }
}



/* RESPONSIVE */

@media screen and (max-width:600px) {

    .main-container {

        & section.projects {

            & .item {
                margin: 5px !important;
            }

            & #rotate-projects-button {

                & svg {
                    height: 20px;
                    width: 20px;
                }
            }
        }
    }

    @keyframes scale {
        0% {
            transform: scale(0.25);
            filter: grayscale(100%) blur(1px);
        }

        100% {
            transform: scale(1.5);
            filter: grayscale(0%) blur(0px) brightness(120%);
        }
    }
}


@media screen and (min-width:500px) and (max-width:1000px) {


    /* aside {
        max-width: 600px;

    } */

    /* 
    .first-sections,
    .extra-sections-styles {

        display: grid;
        height: fit-content;
        max-width: 80%;
        gap: 50px;

        & a {
            display: inline-block;
            width: 100%;
            margin: 0 auto;
            text-align: center;
        }

        & img {
            width: 80%;
            margin: 0 auto;
        }
    }

} */

    .experience .item h3 {
        display: flex;
        flex-wrap: wrap;
    }
}